iframe {
    display: block;
}
body {
    padding-top: 100px;
}

.navbar {
    width: 100vw;
    text-align: center;
    z-index: 2;
    box-shadow: 3px 3px 3px grey;
}

.navbar-img {
    border-radius:50px;
}


.profile {
    text-align: center;
}

.card {
    margin: 15px 0px 15px 0px;
    box-shadow: 1px 1px 1px grey;
    display: block;
}

.chatter-content {
    border: 1px solid grey;
    border-left: 20px solid #007bff;
}

.photo-content {
    border: 1px solid grey;
    border-left: 20px solid #3BB273;
}

.heading {
    background-color: #007bff;
    color: white;
}

.col-8 {
    transform: translate(25%);
}

.media img {
    width: 150px;

}

.comment {
    display: block;
}

.card-container img{
    height: 136px;
}

#download {
    color: white;
}

.contact-content {
    background-color: #FCAA67;
    color: white;
}

.video {
    height: 315px;
    width: 560px;
}

/* responsive design  */

@media only screen and (max-width : 340px) {

    .chatter-content h1 {
        font-size: 1em;
    }

    .video {
        height: auto; 
        width: 200px;
    }

}

