iframe {
    display: block;
}


.navbar {
    width: 100vw;
    text-align: center;
    z-index: 2;
    box-shadow: 3px 3px 3px grey;
    position: fixed;
    top: 0px;
}

.navbar-img {
    border-radius:50px;
}


.content-container {
    transform: translateY(100px);
}

.card {
    margin: 15px 0px 15px 0px;
    box-shadow: 1px 1px 1px grey;
}
.chatter-content {
    border: 1px solid grey;
    border-left: 20px solid #007bff;
}

.photo-content {
    border: 1px solid grey;
    border-left: 20px solid #3BB273;
}

.col-8 {
    transform: translate(25%);
}

.media img {
    width: 150px;

}

.comment {
    display: block;
}

.card-container img{
    height: 136px;
}

