
.navbar {
    width: 100vw;
    position: fixed;
    top: 0px;
    text-align: center;
}


.nav-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-img {
    border-radius:50px;
}


.content-container {
    transform: translatey(100px);
}
.chatter-content {
    border: 1px solid grey;
    border-left: 20px solid #007bff;


}

.col-6 {
    transform: translate(50%);
}
